@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-xl;
  }
}

@counter-style diamond {
  system: cyclic;
  symbols: "\25C6";
  suffix: " ";
}
