@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
  }
  body {
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;
    @apply dark:bg-zinc-900 dark:text-zinc-200;
  }
}
