@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-xl;
  }
  input[type="checkbox"] {
    @apply text-orange-500 focus:ring-orange-500 focus:ring-offset-black;
  }

  input[type="text"] {
    @apply bg-black caret-orange-500 focus:border-orange-500 focus:ring-orange-500 focus:ring-offset-black;
  }
  button {
    @apply rounded bg-zinc-800 px-2 hover:bg-zinc-700 hover:text-white;
  }
}

@counter-style diamond {
  system: cyclic;
  symbols: "\25C6";
  suffix: " ";
}

::-webkit-scrollbar {
  background-color: theme("colors.zinc.800");
  width: theme("width.2");
}

::-webkit-scrollbar-corner {
  background-color: theme("colors.zinc.800");
}

::-webkit-scrollbar-thumb {
  background-color: theme("colors.zinc.600");
}
